<h2>Services</h2>
<p>
  If you are interested in retaining our services,
  please contact our main office at
</p>
<div class="contact">
  <address>
    <div><strong>Whitby Group</strong></div>
    <div>228 Wait Avenue</div>
    <div>Ithaca, NY, 14853</div>
    <div class="phone">607 699 1866</div>
    <div class="email">
      <span>serv</span><span>ic</span><span>es@</span><span>{{domainname}}</span>
    </div>
  </address>
</div>

<h2 id="media">Media Inquiries</h2>
<p>
  Members of the press may contact our media relations team at
  <span>me</span><span>di</span><span>a@</span><span>{{domainname}}</span>
</p>

<h2 id="careers">Career Opportunities</h2>
<p>
  We look for exceptional people who can take on
  challenging toilet problems and create a positive
  impact for our clients and the world.
  There are currently no job openings at Whitby Group,
  but we welcome spontaneous applications.
  Inquire at ca<span>re</span>er<span>s@</span>{{domainname}}.
</p>
